<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos a MercadoLiebre</title>
    <link rel="stylesheet" href="static/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <header>
        <div><img width="100%" src="static/img/logo-mercado-liebre.svg" alt="Logo de la empresa mercadiliebre"></div>
        <section><input type="text" id="buscar" name="buscar" placeholder="Buscar productos, marcas"><i class="fas fa-search"></i></section>
        <!-- <section><img class="banner" src="static/img/img-home-banner.jpg" alt="img-home-banner"></section> -->
        <section><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</section>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="#">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
            <section class="burger">
                <div class="burger-menu">
                    <i class="fas fa-bars fa-fw fa-2x"></i>
                </div>
            </section>

        </nav>
    </header>
    
    <section class="last-visit">
        <h3>Basado en tu última visita</h3>
        <article>
            <img class="img-product" src="static/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            <p class="descripcion">Cafetera Moulinex</p>
        </article>
        <article>
            <img class="img-product" src="static/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
            <p class="descripcion">MacBook Pro 2019</p>
        </article>
        <article>
            <img class="img-product" src="static/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
            <p class="precio">$70.500</p>
            <p class="descuento">10% OFF</p>
            <p class="descripcion">Samsung Galaxy S10</p>
        </article>
        <article>
            <img class="img-product" src="static/img/img-tv-samsung-smart.jpg" alt="">
            <p class="precio">$23.200</p>
            <p class="descuento">5% OFF</p>
            <p class="descripcion">SmartTV Samsung 43"</p>
        </article>
    </section>
    <section class="last-visit">
        <h3>Sección de Ofertas</h3>
        <article>
            <img class="img-product" src="static/img/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
            <p class="precio">$6.770</p>
            <p class="descuento">40% OFF</p>
            <p class="descripcion">Cafetera Moulinex</p>
        </article>
        <article>
            <img class="img-product" src="static/img/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
            <p class="precio">$230.000</p>
            <p class="descuento">20% OFF</p>
            <p class="descripcion">MacBook Pro 2019</p>
        </article>
        <article>
            <img class="img-product" src="static/img/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
            <p class="precio">$70.500</p>
            <p class="descuento">10% OFF</p>
            <p class="descripcion">Samsung Galaxy S10</p>
        </article>
        <article>
            <img class="img-product" src="static/img/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
            <p class="precio">$23.200</p>
            <p class="descuento">5% OFF</p>
            <p class="descripcion">SmartTV Samsung 43"</p>
        </article>
    </section>
    <footer>
        <article>
            <span class="icon-footer"><i class="fas fa-credit-card"></i></span>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <span class="icon-footer"><i class="fas fa-gift"></i></span>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <span class="icon-footer"><i class="fas fa-user-shield"></i></span>
            <h4>Seguridad, de principio a fin.</h4> 
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@..</p>
        </article>
        <p class="p-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>